section#about.about.page
    h2 About
    hr
    h4 How It Works
    p Lumber Calculator grabs the prices and measurements of several products from&nbsp;
        a(target='_blank', href='http://www.homedepot.com/') The Home Depot &apos;s website
        |&nbsp;and stores them in a small database on your browser. There is also a database of schematics.
    p When you click the calculate button, it searches the database for all the materials whose measurements and properties match those required by the selected schematic. Next, it calculates the various ways the schematic can be built with the different materials, and then chooses the cheapest option, which is then displayed to you in the table.
    h4 Story of Its Creation
    img(src='http://i.imgur.com/OrRNRjQ.jpg', alt='Picture of Brenton Cozby at City Year', title='Picture of Brenton Cozby at City Year')
    p Lazy people will go out of their way just to be a little bit lazier. This website was created by a lazy person.
    p My name is&nbsp;
        a(title="I know it's cheesy, but yes--I have my own website", target='_blank', href='http://brentoncozby.com') Brenton Cozby
        | . On a random Tuesday afternoon in February, 2016, I was sitting behind my desk at the&nbsp;
        a(title='City Year Miami website', target='_blank', href='https://www.cityyear.org/miami') City Year Miami
        |&nbsp;headquarters doing some math. &quot;How many two-by-sixes do I need to order from Home Depot if I want to build 9 benches for this school?&quot; I wondered. At the time, my job at City Year involved planning beautification projects for City Year&apos;s schools in Miami.
    p Normally, I would look at&nbsp;
        a(target='_blank', href='https://twitter.com/CareForce?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor') Care Force&apos;s
        |  &quot;Backed Bench&quot; schematic, find out how many two-by-sixes it says are required to build a bench, and multiply that number by 9. But this created a lot of wasted wood.
    p So, I tried to figure out how to fit more pieces into less wood. A few months of computer programming classes and several online tutorials later,
        span Lumber Calculator
        |  was born! Sort of...
    p Before I got into coding, I did the calculations on paper and then on Excel, but even Excel had its limitations so that&apos;s why I turned to making my own calculator. At first, this application was built in the historic C programming language because it was the first one I learned. Today, however, it is written in HTML, CSS, and JavaScript (with no frameworks!).
    p This calculator was saving me wood and money--about&nbsp;
        a(title='Check the math (Google Spreadsheet)', target='_blank', href='https://docs.google.com/spreadsheets/d/1tZeuBesO4tMaunjXckQteuQIQLz2f4vBDrn8fAdAVss/edit?usp=sharing') 5-20% in cost savings
        | , depending on what I was building and how many.
    p Ever since building this calculator, what used to take a few hours on pen and paper now takes a lazy click of a button. &#xF609;
    a.view-the-code(href="https://github.com/BrentonCozby/CareForce-Lumber-Calculator", rel="noopener", target="_blank")
        button View the Code
