section#calculator.calculator.page
    form
        #imagePlaceholder
        img#previewImage.previewImage(title='Schematic Preview', src='http://i.imgur.com/9n8a24l.png', alt='Preview of schematic PDF')
        select#selectSchematic(required='', autofocus='')
            option(value='', disabled='', selected='') Select a Schematic
        input#inputQuantity(type='number', placeholder='Qty', required='')
        button#calcButton(type='button') Calculate
    #results.results
        #tableDiv.tableDiv
        #cutListDiv.cutListDiv
