section#checkTheMath.checkTheMath.page
    h2 Check the Math
    hr
    p To check the math of these calculations, view this&nbsp;
        a(title='Check the math (Google Spreadsheet)', target='_blank', href='https://docs.google.com/spreadsheets/d/1tZeuBesO4tMaunjXckQteuQIQLz2f4vBDrn8fAdAVss/edit?usp=sharing') Google Spreadsheet
        | . It shows you the micro-calculations within each calculation.
    p And if you&apos;ve checked the math and find something wrong or something that can be improved, please&nbsp;
        a(title='opens a new email addressed to BrentonCozby@gmail.com', href='mailto:brenton.cozby@gmail.com', target='_blank') tell me
        | !
    a.view-the-code(href="https://github.com/BrentonCozby/CareForce-Lumber-Calculator", rel="noopener", target="_blank")
        button View the Code
