footer
    .container
        p
            | &copy; 2016. Created by
            a(target='_blank', title='BrentonCozby.com', href='http://brentoncozby.com') Brenton Cozby
            | . City Year Miami Alum, 2014-2016.
