header
    nav
        h1#title.title Lumber Calculator
        button#menuButton.menuButton(type='button') Menu
        #menuItemsDiv.menuItemsDiv
            .menuHeader
                p.menuWord Menu
                p#closeBtn.closeBtn x
            ul
                li#aboutLi(data-page='about') About
                li#calculatorLi.active(data-page='calculator') Calculator
                li#mathLi(data-page='checkTheMath') Check the Math
