@import "_globals";
@import "_normalize";
@import "_reset";
@import "_header";
@import "_footer";
@import "_form";
@import "_table";
@import "_cutList";
@import "_pages";
@import "_min375";
@import "_min768";
@import "_print";

#overlay {
  background: #000;
  bottom: 0;
  display: none;
  left: 0;
  opacity: .5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}

body {
    min-height: 100vh;
    width: 100%;
}

main {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 120px);
    margin-top: $header-height;
    display: inline-block;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: $container-max-width;
    margin: auto;
    background-color: #fff;
}
