extends layout

block content
    #overlay.overlay

    include partials/header.pug

    main
        #wrapper.wrapper
            input#radio-about(type='radio', name='page-selector', value='', selected='false')
            input#radio-calculator(type='radio', name='page-selector', value='', checked='')
            input#radio-checkTheMath(type='radio', name='page-selector', value='', selected='false')
            include partials/about.pug
            include partials/calculator.pug
            include partials/check-the-math.pug
    include partials/footer.pug
