footer {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    height: $footer-height;
    background-color: #444;

    .container {
        margin: auto;
        padding: 10px;
    }

    p {
        color: #ccc;
        font-size: .7rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    a, a:visited {color: #cef}
}
