header {
    background-color: orange;
    height: $header-height;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

nav {
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $container-max-width;
    margin: auto;
}

.title {
    display: inline-block;
    font-size: 1.7rem;
    width: calc(100% - 40px);
    max-width: none;
    vertical-align: middle;
    margin: 0;
    line-height: 1.4;
    text-shadow: 1px 1px 0 #ddd;
}

.menuButton {
    display: block;
    position: relative;
    height: 1.9rem;
    font-size: 0.8rem;
    width: 40px;
    font-family: $overlock-sc;
    padding: 3px;
    border-radius: 5px;
    border-width: 1px;
    background-color: lighten(orange, 10%);
}

.menuItemsDiv {
    height: 100vh;
    text-align: left;
    position: fixed;
    top: 0;
    width: 260px;
    left: -270px;
    box-shadow: 2px 0 6px 0 #000;
    background-color: #444;
    z-index: 51;

    li {
        display: block;
        color: #ccc;
        font-family: $overlock-sc;
        font-size: 1.4rem;
        line-height: 2.5;
        padding-left: 15px;
        border-bottom: 1px solid #555;
    }
}

.menuHeader {
    background-color: #555;
    border-bottom: 3px solid #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuWord {
    color: #999;
    font-family: $overlock-sc;
    font-size: 1.2rem;
    line-height: 2.5;
    margin: 0;
    padding: 0 0 0 15px;
    text-align: left;
    width: 80%;
}

.closeBtn {
    color: #eee;
    font-family: $overlock-sc;
    font-size: 2.5rem;
    line-height: .7;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
}

.open {
    animation-name: slideRight;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideRight {
    from {
        left: -270px;
    }

    to {
        left: 0;
    }
}
