<footer>
    <div class="container">
        <p>&copy; <%= (new Date()).getFullYear() %>. Created by <a target="_blank" title="BrentonCozby.com" href="http://brentoncozby.com">Brenton Cozby</a>. City Year Miami Alum, 2014-2016.</p>
    </div>
</footer>
