<header>
    <nav>
        <h1 id="title" class="title">Lumber Calculator</h1>
        <button id="menuButton" type="button" class="menuButton">Menu</button>
        <div id="menuItemsDiv" class="menuItemsDiv">
            <div class="menuHeader">
                <p class="menuWord">Menu</p>
                <p id="closeBtn" class="closeBtn">x</p>
            </div>
            <ul>
                <li id="aboutLi" data-page="about">About</li>
                <li id="calculatorLi" data-page="calculator" class="active">Calculator</li>
                <li id="mathLi" data-page="checkTheMath">Check the Math</li>
            </ul>
        </div>
    </nav>
</header>
